@{
    ViewData["Title"] = "Chef Elise";
}
<div class="text-center">
    <h1 class="display-4">Chef Elise</h1>
    <p class="italic">I teach people how to cook!</p>
</div>
<div class="intro-para">
    <br />
    <p>
        Indulge in the delightful world of cooking with me, Elise, your culinary guide 
        through a journey of flavors, aromas, and culinary delights. With a lifelong passion 
        for cooking coursing through my veins, I invite you to explore the magic of the 
        kitchen alongside me.
    </p>
    <br />
    <div class="image-container">
        <div class="image-wrapper">
            <img src="~/img/ramen.jpg" alt="ramen" width="300">
        </div>
        <div class="image-wrapper">
            <img src="~/img/pasta-burrata.jpg" alt="bowl of pasta" width="300">
        </div>
    </div>
    <br />
    <p>
        From sizzling pans of succulent beef stroganoff to perfectly crafted homemade pizzas 
        that ooze with melted cheese, from delicate strands of pasta draped in rich sauces 
        to tender fillets of salmon delicately seasoned and expertly grilled, my repertoire 
        reflects a love for diverse cuisines and a commitment to culinary excellence.
    </p>
    <br />
    <p>
        This website isn't just about sharing recipes and techniques; it's about inviting you 
        into my world, where every dish tells a story and every meal is a celebration. Whether 
        you're a seasoned home cook seeking inspiration or a novice eager to embark on your 
        culinary journey, you'll find something here to tantalize your taste buds and ignite 
        your passion for cooking.
    </p>
    <br />
    <p>
        But that's not all – if you're eager to elevate your culinary skills to the next 
        level, why not consider a private cooking lesson with me? Use our handy calculator 
        to estimate the cost of a personalized session where you'll learn the tricks of the 
        trade and master the art of cooking like a pro. Whether you're looking to impress 
        your friends with a gourmet dinner or simply want to enhance your cooking skills, 
        I'm here to guide you every step of the way.
    </p>
    <br />
    <p>
        Join me on this delicious journey as we explore the wonders of cooking together. 
        Get ready to unleash your inner chef and embark on a culinary adventure like no other!
    </p>
</div>

